@model ControleEmpresarial.Estoque.Application.ViewModel.CategoriaViewModel

@{
    Layout = "~/Views/Shared/_LayoutEstoque.cshtml";
    ViewBag.Title = "Detalhar Categoria";
}

<h3>
    @ViewBag.Title
    <small>Formulário de detahamento de categoria</small>
</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <fieldset>
            <legend>Dados Cadastrais</legend>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Descricao, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </fieldset>
        <div class="row text-center">
            @Html.ActionLink("Voltar", "Estoque", "Home", null, new { @class = "btn btn-sm btn-default" })
            @Html.ActionLink("Editar", "Edit", "Categoria", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
            <button id="deletarCategoria" type="button" class="btn btn-sm btn-danger">Deletar</button>
            @Html.HiddenFor(model => model.Id)
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/SweetAlertCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/SweetAlert")
    <script>
        $(document).ready(function () {
            $('#deletarCategoria').on('click', function (e) {
                e.preventDefault();
                swal({
                    title: "Tem certeza disso?",
                    text: "Você não poderá recuperar essa categoria!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sim, deletar isso!",
                    cancelButtonText: "Não, cancelar!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        var valor = $("#Id").val();
                        excluirCategoria(valor);
                    } else {
                        swal("Cancelado", "Não houve alteração nos dados :)", "error");
                    }
                });
            });

            function excluirCategoria(valor) {
                $.ajax({
                    url: '@Url.Action("Delete","Categoria")',
                    type: 'POST',
                    async: true,
                    data: {
                        id: valor
                    }
                }).success(function (data) {
                    swal("Deletado!", "Categoria excluida com sucesso.", "success");
                }).fail(function (data) {
                    swal("Erro!", "Erro ao excluir categoria.", "warning");
                }).done(function(data) {
                    window.location.replace('@Url.Action("BuscarCategoria")');
                });
            }
        });
    </script>
}